#root {
  min-height: 100%;
  background-color: #0d1117;
  color: #c9d1cd;
}

#root h2 {
  padding-top: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.search-container input {
  width: 200px;
}

.search-container label {
  margin-right: 6px;
}

.col {
  padding: 5px 40px;
}

.card {
  background-color: #161b22;
  color: #c9d1cd;
  border: 1px solid #c9d1cd;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-body p {
  text-align: center;
}

.card-button-wrap {
  border: 0;
  background-color: white;
}